#allProjectsContent, #allProfilesContent{
    text-align: center;
    background-color: white;
}
#allProfilesTable, #allProjectsTable{
    display: grid;
    grid-template-columns: 1fr 5fr 2fr 3fr 2fr 2fr 2fr;
    gap: 2px;
    grid-auto-rows: max-content;
    overflow-y: auto;
    box-sizing: border-box;
    padding-bottom: 40px;
}
.table{
    display: grid;
    gap: 2px;
    grid-auto-rows: max-content;
    padding-bottom: 30px;
}
.tableCell{
    background-color: rgb(222, 222, 222);
}
.table>div{
    padding: 5px 10px;
    box-sizing: border-box;
    min-height: 30px;
}
.allProjectsTableTitle, .tableTitle{
    background-color: green;
    color: white;
    font-size: large;
    font-weight: bold;
}
#allProjectsTable>div, #allProfilesTable>div{
    padding: 5px 10px;
    box-sizing: border-box;
}
.table>div:not(.tableTitle){
    background-color: rgb(222, 222, 222);
}
.allProjectsActions, .allProfilesActions{
    display: flex;
    justify-content: space-evenly;
}
#filters{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 0;
    gap: 10px;
}
#filters> label> input:not([type="submit"]), #filters> label>select{
    margin-right: 5px;
    width: 200px;
    height: 25px;
}
#applyFilter{
    width:80px; 
    height: 25px;
    background-color:green; 
    color:white;
}
