.dashSection{
    box-shadow: 2px 2px 5px gray;
    height: fit-content;
    border-radius: 5px;
    padding: 10px 25px;
    background-color: inherit;
    color: black;
}
#dashBody{
    display: grid;
    grid-template-columns: 45dvw 45dvw;
    grid-auto-rows: max-content; 
    gap: 20px;
    height: 90dvh;
    padding: 20px;
    box-sizing: border-box;
}
#dashUserProjects{
    text-align: center;
}
#dashProjectAllocationChart{
    display: grid;
    grid-template-columns: 45% 45%;
    grid-auto-rows: max-content;
}