.projectPopup{
    height: 100dvh;
    width: 100dvw;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
}
.projectPopupCont{
    height: 70%;
    width: 25%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 15px 25px;
    display: flex;
    flex-direction: column;
}
.projectPopupCont>form{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    flex-grow: 1;
}
.projectPopupCont>form>label, .projectPopupCont>form select{
    width: 100%;
    height: 30px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.requestDetailField{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2px;
    background-color: rgb(222, 222, 222);
    padding: 5px 10px;
}
.requestDetailField>h4{
    margin: 10px;
}
.requestDetailGroup{
    flex-grow: 1;
    overflow-y: auto;
}
.requestPopupActions{
    display: flex;
    justify-content: space-evenly;
}
.projectPopupCont>form>label>input{
    height: 90%;
    width: 60%;
    margin: 5px 5px;
}
