#allInputsContent{
    text-align: center;
}
#allInputsTable{
    display: grid;
    grid-template-columns: 1fr 5fr 3fr 3fr 2fr 2fr 2fr;
    gap: 2px;
    grid-auto-rows: max-content;
}
#allInputsTable>div{
    padding: 5px 10px;
    box-sizing: border-box;
}
#allInputsTable>div:not(.tableTitle){
    background-color: rgb(222, 222, 222);
}
.allInputsTableTitle{
    background-color: green;
    color: white;
    font-size: large;
    font-weight: bold;
}
#indentsTable{
    grid-template-columns: 1fr 5fr 3fr 3fr 2fr 2fr;
}
