:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root{
  height: 100vh;
  width: 100dvw;
  color: black;
  
}
#root>div{
  height: 90dvh;
  width: 100dvw;
}
#root>div>div{
  padding: 10px 25px;
}
a {
  font-weight: 500;
  text-decoration: inherit;
  color: black;
  text-decoration: none;
  text-decoration: underline;
}
#appMainElement{
  z-index: 0;
}
input{
  background-color: rgb(111, 111, 111);
  color: rgb(222, 222, 222);
}
input::calendar-picker-indicator{ 
  color: #000;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  height: 100vh;
  width: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: green;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
.hoverable, button{
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.hoverable:hover{
  filter: brightness(90%);
}
